.products {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.products__title {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.products__title h2 {
    text-align: center;
}

.products__item {
    background-color: var(--white);
    margin: 10px;
    border-top: 1px solid var(--light-gray);
    border-radius: 7px;
    max-width: 280px;
}

.products__item:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); 
}

.products__item p.name {
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-time) ease;
}

.products__item:hover p.name {
    visibility: visible;
    opacity: 1;
}

.products__item .item__send-icon {
    transition: all var(--transition-time) ease;
}

.products__item:hover .item__send-icon {
    transform: rotate(-90deg);
}

.products__item img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.products__item > div {
    padding: 15px;
    border-top: 1px solid var(--light-gray);
    position: relative;
}

.item__send-icon {
    border: 1px solid var(--light-gray);
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 15px;
    background-color: var(--white);
    
}

.item__send-icon i {
    font-size: var(--font-xl);
    color: var(--green);
} 

.products__item > div .name {
    margin-top: 8px;
    color: var(--gray);
}

.item__price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.item__price .price {
    width: 35%;
    display: block;
    text-align: left;
}

.item__price .discount {
    width: 65%;
    display: flex;
    align-items: center;
}

/* movil */
@media (max-width: 360px) {
    .products__item .name {
        display: none;
    }
}

/* tablets */
@media (min-width: 361px) {
    .products__item {
        display: inline-block;
        width: 360px;
        box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.2);
    }
}

/* desktop */
@media (min-width: 769px) {

}